<app-header title="Grocery App" [homeButton]="false"></app-header>
<ion-content>
  <ion-grid>
    <h1> Your preferred diet type </h1>
    <ion-row>
      <ion-col *ngFor="let meal of meals; let idx=index">
        <ion-card color="light" class="middle-align"
          [ngStyle]="" (click)="selectMeal(idx)">
          <ion-card-content style="padding-top: 5px;">
            <ion-avatar slot="start" style="display: block; margin: auto;">
              <img
                style="margin-bottom: 5px; height: 50px !important; width: 50px !important; max-height: 100px !important; max-width: 100px !important;"
                [src]="meal.img_src" />
            </ion-avatar>
            <ion-label class="d-block pt-10">{{meal.name}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>