<app-header title="OptiMeal"></app-header>

<ion-content>
  <h2 class="p-20">Hi {{user?.name}}</h2>
  <ion-list>
    <ion-list-header> Your week meal plan </ion-list-header>
    <ion-item *ngFor="let meal of meals" (click)="presentPopover($event, meal)">
      <ion-avatar slot="start">
        <img [src]="meal.imageURL" />
      </ion-avatar>
      <ion-label>
        <h2>{{meal.name}}</h2>
        <h3 style="color: grey">{{meal.ingredients.length}} ingredients</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Aggregated shopping list</ion-list-header>
    <ion-item *ngFor="let item of [1,2,3,3,5]">
      <ion-label>test</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>