<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="plan">
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferences">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Preferences</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>