<app-header></app-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides style="display: flex !important">
    <ion-slide>
      <form (ngSubmit)="register()" [formGroup]="credentials" style="margin-top: 30px;">
        <div class="input-group">
          <ion-item>
            <ion-input placeholder="Name" formControlName="name"></ion-input>
          </ion-item>
          <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
            <span *ngIf="name.errors?.required">Name is required</span>
            <span *ngIf="name.errors?.email">Name is invalid</span>
          </div>
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Password is required</span>
            <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
          </div>
        </div>

    <ion-button type="submit" expand="block" style="margin-top: 20px" [disabled]="password.errors || email.errors">Register</ion-button>
    <ion-button type="button" expand="block" color="dark" fill="clear" (click)="signIn()">Already a member? Sign in!
    </ion-button>
  </form>
    </ion-slide>
    <!-- food types -->
    <ion-slide>
      <ion-grid>
        <h1> Please select your preferred diet type </h1>
        <ion-row>
          <ion-col *ngFor="let foodType of diets; let idx=index">
            <ion-card color="light" class="middle-align"
              [ngStyle]="{'border': foodType.selected ? '2px solid #387FFF' : 'none'}" (click)="selectDiet(idx)">
              <ion-card-content style="padding-top: 5px;">
                <ion-avatar slot="start" style="display: block; margin: auto;">
                  <img
                    style="margin-bottom: 5px; height: 50px !important; width: 50px !important; max-height: 100px !important; max-width: 100px !important;"
                    [src]="foodType.img_src" />
                </ion-avatar>
                <ion-label class="d-block pt-10">{{foodType.name}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

        <ion-button class="pt-10" fill="clear" (click)="slides.slideNext()">Continue
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>

      </ion-grid>
    </ion-slide>

    <!-- allergens -->
    <ion-slide>
      <ion-grid>
        <h1> Please select foods you are allergic/intollerant to </h1>
        <ion-row>
          <ion-col *ngFor="let allergen of allergens; let idx=index">
            <ion-card color="light" class="middle-align"
              [ngStyle]="{'border': allergen.selected ? '2px solid #387FFF' : 'none'}" (click)="selectAllergen(idx)">
              <ion-card-content style="padding-top: 5px;">
                <ion-avatar slot="start" style="display: block; margin: auto;">
                  <img
                    style="margin-bottom: 5px; height: 50px !important; width: 50px !important; max-height: 100px !important; max-width: 100px !important;"
                    [src]="allergen.img_src" />
                </ion-avatar>
                <ion-label class="d-block pt-10">{{allergen.name}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

        <ion-button class="pt-10" fill="clear" (click)="slides.slidePrev()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          Go Back
        </ion-button>
        <ion-button class="pt-10" fill="clear" (click)="slides.slideNext()">Continue
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <!-- <img src="./slide-4.png" /> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2 class="d-block">Welcome</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="/assets/img/logo.png">
          </ion-col>
        </ion-row>
        <ion-row class="jc">
          <ion-button fill="clear" (click)="slides.slidePrev()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Go Back
          </ion-button>
          <ion-button fill="clear" (click)="goToHome()">Continue
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>